<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
   
    <title>Pushpak</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
      <script type="text/javascript" src="js/angular-min.js"></script>
     <script type="text/javascript" src="js/addDelayCtrl.js"></script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
     <script src="js/bootstrap.min.js"></script>
  </head>
  <body ng-app="mainApp" ng-controller="addDelayCtrl">


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    
    <!-- Include all compiled plugins (below), or include individual files as needed -->
   
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">CPM</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Create Event</a></li>
      <li><a href="#">Page 1</a></li>
      <li><a href="#">Page 2</a></li>
      <li><a href="#">Page 3</a></li>
    </ul>
  </div>
</nav>
  <div class="container">
  <div class="row">
      <h5>Select Airport</h5>
      <br>
     
          <select ng-model="airportId" >
            <option ng-repeat="x in airportList">{{x}}</option>
          </select>
       <br>    
      <h5> Date of Pickup/ Visit</h5>
      <br>
      <input type="text" name="" ng-model="inputDate.day"> /
      <input type="text" name="" ng-model="inputDate.month"> /
      <input type="text" name="" ng-model="inputDate.year"> 
     </div>
      <button type="button" class="btn btn-default" ng-click="getFlights()">Get Flight</button>
      <div  ng-show="flag">
        Select Flight <br>
        <br>
     
          <select ng-model="flightId" >
            <option ng-repeat="x in flightList">{{x}}</option>
          </select>
       <br>  
           Delay in Arrival<br>
           <input type="number" ng-model="delayInArrival.hour">
           <input type="number"  ng-model="delayInArrival.minute">
           <input type="number"  ng-model="delayInArrival.second">
           Delay in Departure<br>
            <input type="number" ng-model="delayInDeparture.hour">
           <input type="number"  ng-model="delayInDeparture.minute">
           <input type="number"  ng-model="delayInDeparture.second">
      </div>
           <button type="button" class="btn btn-default" ng-click="addDelay()">Update Delay</button>
      
  </div>
    
  </div>

    


  </body>
</html>